*{
    font-family: 'Open Sans', sans-serif !important;
}
i{
    font-family: FontAwesome !important;
}
h1{
    color: #0074cc;
    font-weight: 700;
}
h3{
    font-weight: 600;
}

#questions{
    text-align: center;
    padding: 20px;
    border: 1px solid lightgrey;
    margin-right: 15px;
    box-shadow: 3px 3px 3px lightgrey;

}
#tab-content-a-fade li{
    padding: 30px;
}

.uk-width-3-10{
    text-align: center;
    height: 360px;
    box-shadow: 3px 3px 3px lightgrey;
}
.hidden{
    display: none;
}
.uk-button{
    margin-top: 50px;
    display: inline-block !important;
    vertical-align: bottom;
}
